<h2>
Test tasks with random data
</h2>

<button type="button" class="btn btn-default"
    data-ng-click="launchSliceGuarantorTask(r(), r(), r())">
  <span class="glyphicon glyphicon-play-circle"></span>
  Slice Guarantor
</button>
<button type="button" class="btn btn-default"
    data-ng-click="launchSegmentGuarantorTask(r(), r(), r())">
  <span class="glyphicon glyphicon-play-circle"></span>
  Segment Guarantor
</button>
<button type="button" class="btn btn-default"
    data-ng-click="launchSolutionGuarantorTask()">
  <span class="glyphicon glyphicon-play-circle"></span>
  Solution Guarantor
</button>
<button type="button" class="btn btn-default"
    data-ng-click="launchSolveSubvolumeTask()">
  <span class="glyphicon glyphicon-play-circle"></span>
  Solve Subvolume
</button>
<button type="button" class="btn btn-default"
    data-ng-click="launchTraceNeuronTask()">
  <span class="glyphicon glyphicon-play-circle"></span>
  Trace Neuron
</button>

<h2>
Tasks
</h2>
<p>
  Past and current tasks in Celery's queue:
</p>

<table class="table table-striped table-bordered table-condensed">
<thead>
  <th>UUID</th><th>State</th><th>Name</th>
</thead>
<tbody>
  <tr data-ng-repeat="task in filteredTasks" class="[[ task.state | statetoclass ]]">
    <td>[[task.task_id]]</td><td>[[task.state]]</td><td>[[task.name]]</td>
  </tr>
</tbody>
</table>
<div data-pagination="" data-total-items="totalItems" data-page="currentPage"
    data-max-size="maxSize" data-items-per-age="itemsPerPage"
    data-num-pages="numPages" data-boundary-links="true"></div>

{% comment %}
<input type="text" data-ng-model="sometext" />
<h1>Hello [[ sometext ]]</h1>
{% endcomment %}
