.catsop-layer {
	position: absolute;
	top: 0;
	left: 0;
}

.catsop-layer .slice-mask {
	position: absolute;
	/* Slices must have opacity separate from layer opacity to handle conflict slice overlap. */
	opacity: 0.75;
	border: 0;
}

.catsop-layer .slice-mask.hidden {
	display: none;
}

.catsop-layer .slice-mask.active {
	display: inline;
	background-color: #FF0;
	z-index: 5;
}

.catsop-layer .slice-mask.conflict {
	background-color: #F00;
	z-index: 4;
}

.catsop-layer .slice-mask.in-solution {
	background-color: #0F0;
}

.catsop-layer .slice-mask.highlight {
	display: inline;
	background-color: #00F;
	z-index: 6;
}

.catsop-layer .slice-mask.highlight.in-solution {
	background-color: #0FF;
}

.segment-graph .segment-node rect {
	cursor: move;
	fill: #CCC;
	fill-opacity: .9;
	shape-rendering: crispEdges;
	stroke: #000;
}

.segment-graph .segment-node.active rect {
	stroke: #FF0;
	stroke-width: 5;
}

.segment-graph .segment-node.in_solution rect {
	fill: #0F0;
}

.segment-graph .segment-node.constrained rect {
	fill: #F0F;
}

.segment-graph .slice-node rect {
	fill: #000;
	fill-opacity: 1;
	stroke: #000;
	stroke-width: 5;
	stroke-opacity: 1;
}

.segment-graph .slice-node.in_solution rect {
	stroke: #0F0;
}

.segment-graph .slice-node rect.highlight {
	stroke: #00F;
}

.segment-graph .slice-node.active rect {
	stroke: #FF0;
}

.segment-graph .slice-node.in_solution rect.highlight {
	stroke: #0FF;
}

.segment-graph .node text {
	pointer-events: none;
	text-shadow: 0 1px 0 #fff;
}

.segment-graph .link {
	fill: none;
	stroke: #000;
	stroke-opacity: .2;
}

.segment-graph .link:hover, .segment-graph .link.highlight {
	stroke-opacity: .65;
}
